body {
  overflow-x: hidden;
}

.toastify {
  background-color: lime;
  padding: 7px;
  border-radius: 3px;
  width: 250px;
  position: absolute;
  right: 10px;
  top: 80px;
  transform: translateX(200%);
  transition: transform 1s cubic-bezier(1, -0.21, 0, 1.01);
  z-index: 9999999;
}

.card {
  max-width: 620px;
  margin: 200px auto;
  min-height: 270px;
}

.modal-toast {
  position: relative;
  transition: transform 0.1s linear;
}

.hide-toast {
  transform: translateY(-220%);
}
