$main-bg-orange:#FF5300;
$main-bg-gray:#3A3B3C;
$main-bg-dark:#18191A;
$main-bg-black:#242526;
$main-bg-light:#FFF7F4;
$main-bg-white:#fff;



$h1-desktop:48px;
$h1-tablet:39.06px;
$h1-mobile:31.25px;


